


.Box {
    float: left;
    width: 32%;
    margin-right: 2%;
    padding: 20px;
    background: #FFFFFF;
    box-sizing: border-box;
    margin-right: 0;
     
    
   }
   ion-card-title{
       height: 55px;
   }

   .Preis{
         color: green;
         font-size: 25px;
         float: right;
          
   }

   ion-img{
    object-fit: cover;
    height: 350px;
}

.UnterBox{
    float: left;
    width: 32%;
    margin-right: 2%;
    padding: 20px;
    background:#FFFFFF;
    box-sizing: border-box;
    margin-right: 0;
}
#Speiseplan {
    display:flex;
    flex-wrap: wrap;

}

.Kategorie {
  display: block;
  height: 15px;

} 
.Kalendarmittig{
    display: flex;
    align-items: right;
    justify-content: right;
}    
.Umformung{
    text-align: center;
    front-size: 10px

}

.Bearbeitung{
    float: center;
    max-width: 300px;
    display: inline;
    padding: 20px;
    margin-right: 2%;
    vertical-align: middle;

}

.text1{
    margin-left: 10px;

}

.Hauptblock{
    
}