


.Box {
    float: left;
    width: 32%;
    margin-right: 2%;
    padding: 20px;
    background: #FFFFFF;
    box-sizing: border-box;
    margin-right: 0;
     
    
   }
   ion-card-title{
       height: 55px;
   }

   .Preis{
         color: green;
         font-size: 25px;
         float: right;
          
   }

   ion-img{
    object-fit: cover;
    height: 350px;
}

.UnterBox{
    float: left;
    width: 32%;
    margin-right: 2%;
    padding: 20px;
    background:#FFFFFF;
    box-sizing: border-box;
    margin-right: 0;
}
#Speiseplan {
    display:flex;
    flex-wrap: wrap;

}

.Kategorie {
  display: block;
  height: 15px;

} 
.Kalendarmittig{
    display: flex;
    align-items: center;
    justify-content: center;
}    
